<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.communeapp.commune">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/commune_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginRegisterActivity" />
        <activity android:name=".Activities.MyGroupsActivities.AddGroupActivity" />
        <activity
            android:name=".Activities.MyGroupsActivities.GroupsListViewActivity"
            android:label="@string/title_activity_groups_list_view"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.communeapp.commune.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.MyGroupsActivities.GroupActivities.GroupActivity"
            android:label="@string/title_activity_group">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.communeapp.commune.Activities.MyGroupsActivities.GroupsListViewActivity" />
        </activity>
        <activity
            android:name=".Activities.MyGroupsActivities.GroupActivities.GroupMembers.MemberListActivity"
            android:label="@string/title_activity_member_list"
            android:parentActivityName=".Activities.MyGroupsActivities.GroupActivities.GroupActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.communeapp.commune.Activities.MyGroupsActivities.GroupActivities.GroupActivity" />
        </activity>
        <activity
            android:name=".Activities.MyGroupsActivities.GroupActivities.GroupIssues.GroupIssuesActivity"
            android:label="@string/title_activity_group_issues_acitivity"
            android:parentActivityName=".Activities.MyGroupsActivities.GroupActivities.GroupActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.communeapp.commune.Activities.MyGroupsActivities.GroupActivities.GroupActivity" />
        </activity>
        <activity
            android:name=".Activities.MyGroupsActivities.GroupActivities.GroupIssues.CreateIssueActivity"
            android:label="@string/title_activity_create_issue"
            android:parentActivityName=".Activities.MyGroupsActivities.GroupActivities.GroupIssues.GroupIssuesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.communeapp.commune.Activities.MyGroupsActivities.GroupActivities.GroupIssues.GroupIssuesActivity" />
        </activity>
        <activity
            android:name=".Activities.IssueActivity.MyIssueListViewActivity"
            android:label="@string/title_activity_my_issue_list_view"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.communeapp.commune.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.IssueActivity.IssueActivity"
            android:label="@string/title_activity_issue"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Activities.MyGroupsActivities.GroupActivities.GroupResources.ResourceListView"
            android:label="@string/title_activity_resource_list_view"
            android:parentActivityName=".Activities.MyGroupsActivities.GroupActivities.GroupActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.communeapp.commune.Activities.MyGroupsActivities.GroupActivities.GroupActivity" />
        </activity>
    </application>

</manifest>